<?xml version="1.0"?>

<model>
  <name>DLS:Pallet250x2000x140mm </name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Andrea Pupa</name>
    <email>andrea.pupa@unimore.it</email>
  </author>

  <description>
    This model approximates to a benchmark pallet
  </description>
</model>
